// neutral colors
$color_background_primary_dark_theme: #0b0d11;
$color_background_secondary_dark_theme: #6d6e70;
$color_background_variant_dark_theme: #e7e7e7;

$color_text_primary_dark_theme: #ffffff;
$color_text_secondary_dark_theme: #b3b3b3;
$color_text_variant_dark_theme: #000000;

// accent colors
$color_primary_dark_theme: #3b82f6;
$color_secondary_dark_theme: #234e94;

// semantic colors
$color_info_dark_theme: #5280ea;
$color_warning_dark_theme: #ff6a00;
$color_error_dark_theme: #dc2626;
$color_success_dark_theme: #84cc16;
