// neutral colors
$color_background_primary_light_theme: #ffffff;
$color_background_secondary_light_theme: #dedede;
$color_background_variant_light_theme: #000000;

$color_text_primary_light_theme: #000000;
$color_text_secondary_light_theme: #5a5a5a;
$color_text_variant_light_theme: #ffffff;

// accent colors
$color_primary_light_theme: #0072f5;
$color_secondary_light_theme: #79b4ef;

// semantic colors
$color_info_light_theme: #5280ea;
$color_warning_light_theme: #ff6a00;
$color_error_light_theme: #dc2626;
$color_success_light_theme: #84cc16;
