// neutral colors
$color_background_primary_blue_theme: #0e131b;
$color_background_secondary_blue_theme: #1d2129;
$color_background_variant_blue_theme: #e7e7e8;

$color_text_primary_blue_theme: #ffffff;
$color_text_secondary_blue_theme: #b3b3b3;
$color_text_variant_blue_theme: #000000;

// accent colors
$color_primary_blue_theme: #00c9e4;
$color_secondary_blue_theme: #007989;

// semantic colors
$color_info_blue_theme: #5280ea;
$color_warning_blue_theme: #ff6a00;
$color_error_blue_theme: #dc2626;
$color_success_blue_theme: #84cc16;
